@font-face {
  font-family: 'Fraunces';
  src: url(fonts/Fraunces/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url(fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url(fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
  font-weight: 700;
  font-style: bold;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: hsl(30, 38%, 92%);
  font-family: 'Montserrat';
  font-style: normal;
  max-height: 100vh;
}

.card {
  display: grid;
  width: fit-content;
  background: hsl(0, 0%, 100%);
  border-radius: 0.5em;
}

.perfume-img {
  max-inline-size: 100%;
  block-size: auto;
  border-radius: 0.5em 0.5em 0 0;
  height: 100%;
}

.product {
  padding: 25px;
  color: hsl(228, 12%, 48%);
  line-break: auto;
}

h1 {
  margin: 10px 0 10px 0;
  font-family: 'Fraunces';
  line-height: 1;
  color: hsl(212, 21%, 14%);
  font-size: 2rem;
}

.perfume-desc {
  font-size: 1rem;
  line-height: 1.6;
}

.price {
  margin: 20px 0 15px 0;
}

span:nth-of-type(1) {
  font-family: 'Fraunces';
  font-size: 1.9rem;
  color: hsl(158, 31%, 47%);
}

span:nth-of-type(2) {
  position: relative;
  top: -6px;
}

span {
  margin-right: 20px;
}

#cart {
  margin-right: 10px;
  width: 0.9rem;
  height: 0.9rem;
}

button {
  width: 100%;
  height: 45px;
  background: hsl(158, 36%, 37%);
  border-radius: 7px;
  border: none;
  color: white;
  align-items: center;
  font-size: 0.9rem;
  font-family: 'Montserrat';
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background: hsl(158, 37%, 23%);
}

@media (min-width: 600px) {
  body {
    padding: 0;
    min-height: 100vh;
  }
  .card {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-template-rows: 1fr; */
    width: 60%;
    height: 99.4vh;
    border-radius: 0.8em;
  }
  .perfume-img {
    border-radius: 0.8em 0 0 0.8em;
    width: 100%;
    max-height: 99.4vh;
  }
  .product {
    padding: 45px;
    padding-bottom: 5px;
    font-size: 1.1rem;
    word-wrap: break-word;
  }
  h1 {
    margin: 30px 0 40px 0;
    font-size: 2.4em;
  }
  .perfume-desc {
    line-height: 1.7;
    padding: 0 10px 0 0;
    font-size: 1.1099rem;
  }
  .price {
    margin: 40px 0 40px 0;
  }
  span:nth-of-type(1) {
    font-size: 2.4rem;
  }
  button {
    height: 65px;
  }
}